<footer class="container-fluid footer" >	
	<div class="row-fluid">
		<div class="footerDiv geoSpotFooter col-md-4 ">
			<div class ="footerTitle">
				Geospot
			</div>
			<div class ="footerBody">
				<!-- Geospot is a search engine with a focus on delivering the most relevant local search result. -->
				<div>Geospot is a Technology platform.</div>
				<div >We are sorry but that's all we can say now.</div>
				<div> contact@geospot.in</div>
			</div>
		</div>
		<div class="container-fluid footerDiv col-md-5 col-md-offset-3">
			<div class="row-fluid">
				<div class="footerDiv rightFooter col-md-3">
					<div class= "footerTitle">
						About
					</div>
					<div class="footerLinkBody">
						<ul class=" footer-ul">
							<li class="footer-li">
								<a href="#" >FAQ & Terms</a>
							</li>
							<li>
								<a href="#" >Team</a>
							</li>
							<li>
								<a href="#" >Contact</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="footerDiv rightFooter col-md-3">
					<div class ="footerTitle">
						Mobile Apps
					</div>
					<div class="footerLinkBody">
						<ul class=" footer-ul">
							<li class="footer-li">
								<a href="#" >iPhone/iPad</a>
							</li>
							<li>
								<a href="#" >Android</a>
							</li>
							<li>
								<a href="#" >Windows Phone</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="footerDiv rightFooter col-md-3">
					<div class = "footerTitle">
						For Businesses
					</div>
					<div class="footerLinkBody">
						<ul class=" footer-ul">
							<li class="footer-li">
								<a href="#" >Sign In</a>
							</li>
							<li>
								<a href="#" >Create An Account</a>
							</li>
							<li>
								<a href="#" >Advertise</a>
							</li>
						</ul>
					</div>
				</div>	
				<div class="footerDiv rightFooter col-md-3">
					<div class = "footerTitle">
						For Admins
					</div>
					<div class="footerLinkBody">
						<ul class=" footer-ul">
							<li class="footer-li">
								<a href="bizinfo" >Businesses</a>
							</li>
							<li>
								<a href="product" >Products</a>
							</li>
							<li>
								<a href="category" >Categories</a>
							</li>
							<li>
								<a href="keyword" >Keywords</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="copyrightInfo"> 
			©2015 GEOSPOT TECHNOLOGIES PRIVATE LIMITED, BANGALORE
		</div>
	</div>

	
</footer>
