<footer class="container-fluid footer" >	
	<div class="row-fluid">
		<hr/>
	</div>
	<div class="row-fluid">
		<div class="footerDiv geoSpotFooter col-md-4">
			<div class ="footerTitle">
				Geospot
			</div>
			<div class ="footerBody">
				<!-- Geospot is a search engine with a focus on delivering the most relevant local search result. -->
				<div>Geospot is a Technology platform.</div>
				<div >We are sorry but that's all we can say now.</div>
				<div> contact@geospot.in</div>
			</div>
		</div>
		<div class="container-fluid footerDiv col-md-8">
				<div class="footerDiv rightFooter col-md-3">
					<div class= "footerTitle">
						About
					</div>
					<div class="footerLinkBody">
						<ul class=" footer-ul">
							<li class="footer-li">
								<a href="#" >FAQ &amp; Terms</a>
							</li>
							<li>
								<a href="#" >Team</a>
							</li>
							<li>
								<a href="#" >Contact</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="footerDiv rightFooter col-md-3">
					<div class ="footerTitle">
						Mobile Apps
					</div>
					<div class="footerLinkBody">
						<ul class=" footer-ul">
							<li class="footer-li">
								<a href="#" >iPhone/iPad</a>
							</li>
							<li>
								<a href="#" >Android</a>
							</li>
							<li>
								<a href="#" >Windows Phone</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="footerDiv rightFooter col-md-3">
					<div class = "footerTitle">
						For Businesses
					</div>
					<div class="footerLinkBody">
						<ul class=" footer-ul">
							<li class="footer-li">
								<a href="#" >Sign In</a>
							</li>
							<li>
								<a href="#" >Create An Account</a>
							</li>
							<li>
								<a href="#" >Advertise</a>
							</li>
						</ul>
					</div>
				</div>	
				<div class="footerDiv rightFooter col-md-3">
					<div class = "footerTitle">
						Feeds
					</div>
					<div class="footerLinkBody">
						<ul class=" footer-ul">
							<li class="footer-li">
								<a href="feed.html" >Create Feed</a>
							</li>
							<li>
								<a href="feedList.html" >All Feeds</a>
							</li>
							<li>
								<a href="dynamicfeeds.html" >Dynamic Feeds</a>
							</li>
							<li>
								<a href="trendingTags.html" >Trending Tags</a>
							</li>
						</ul>
					</div>
				</div>	
		</div>
	</div>
	<div class="row-fluid">
		<div class="copyrightInfo"> 
			©2015 GEOSPOT TECHNOLOGIES PRIVATE LIMITED, BANGALORE
		</div>
	</div>	
</footer>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg tmpBtn tmpModal31" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>

<div class="modal fade   modal-broken" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>  
      </div>
      <div class="modal-body">
			<div class="alertDownTitle">OOPS!</div><div class="alertDownText"> WE AER NOT LIVE YET. ALL LINKS ARE DISABLED FOR NOW.</div>
      </div>
    </div>
  </div>
</div>