<header class="container-fluid header2">	
	<div class="row-fluid">
		<div class="headTitle pull-left">
			<img src = 'images/gtext.png' />
		</div>
		<div class="cityTitle pull-right">
			<div  class="dropdown" dropdown on-toggle="toggled(open)">
	    		<div id="currentCity" class='blueDotted ' dropdown-toggle>
	    			<span> 
	    				{{city|uppercase}}  <span class="caret"></span>
	    			</span>
	    		</div>    
	      		<ul class="dropdown-menu cityDrop">
	        		<li ng-repeat="c in cities">
	    				<div >
	    					<span  class='blueDotted'  ng-click="changeCity(c)">{{c|uppercase}}</span>
	    				</div>
	    			</li>
	    		</ul>
			</div>			
		</div>
	</div>	
	<div class="row-fluid">
		<hr/>
	</div>
</header>
